div.contacts
	h1 Contact us
	h2 For a broader coverage related to this topic
		form(action = "#")
			input(type ="text" placeholder= "Name")
			input(type ="text" placeholder= "Email")
			input(type ="text" placeholder= "Messege")
			input(type ="text" placeholder= "Messege")
			input(type ="submit" value = "Send Messege") 
			