div.ecologists
	h1 What Our Ecologists Are Saying
	h2 for a broader coverage related to this topic
	div.ecologists-container
		div.ecologists-container__block
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
			img(src = "img/girl.jpg")
			p Ann Klot
			p Ecologist
		div.ecologists-container__block
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			img(src = "img/boy1.jpg")
			p John Lino
			p Ecologist
		div.ecologists-container__block
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			img(src = "img/boy2.jpg")
			p Tom Ruft
			p Ecologist
