footer
	ul.social
		li
			a(href="#") facebook
		li
			a(href="#") twitter
		li
			a(href="#") Google
		li
			a(href="#") pinterest
		li
			a(href="#") instagram
		li
			a(href="#") SS
		li
			a(href="#") RSS
	p 2015 Conpany work